
body {
    margin: 0;
    color: #333;
}

p, h1, h2 {
    text-align: center;
    margin: 0;
}

.txtl {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.txtm {
    font-size: 20px;
    margin-bottom: 20px;
}

.txts {
    font-size: 16px;
}

.txtss {
    font-size: 12px;
}

/*///////////
header
///////////*/

@media (max-width: 760px) {
   header .btn  {
       margin-top: 10px !important;
       padding-right: 15px;
       margin-left: 15px;
       
   }
   .header-in {
       margin: -13px;
   }
}


.header-in p {
    margin: 0;
    display: inline-block;
}

header {
    height: 70px;
}

.header-in {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    padding: 15px 50px;
    z-index: 10;
}

header img {
    vertical-align: bottom;
}

.btn {
    width: 318px;
    height: 44px;
    border: 1px solid #D86C67;
    background-color: #D86C67;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 70px;

}

.btn:hover {
    background-color: #d84940;
}

.btn a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    height: 100%;
    padding-top: 10px;
}



.divider {
    height: 800px;
    background-color: blue;
}


/*///////////
top
///////////*/

@media (max-width: 760px) {
    .isara-top {
        width: 100%;
        height: 450px !important;
    }
}

.isara-top {
    background-image: url(../home.jpg);
    background-size: cover;
    text-align: center;
    height: 600px;
    color: #fff;
}

.isara-top h1 {
    padding-top: 80px;
    line-height: 50px;
}

.isara-top p {
    font-weight: 600;
    margin-top: 30px;
}

/*///////////
ask
///////////*/

@media (max-width: 760px) {
    .ask {
        width: 100%;
        /* height: 600px; */
        height: 650px !important;
    }
    .ask .btn2  a{
        /* display: none; */
        font-size: 20px;
    }
    .ask h2 {
        font-size: 15px !important;
        padding-bottom: 10px !important;
        padding: 0 -10px !important;
        width: 300px !important;
        margin: 0 auto;
    }   
        .ask-point {
            width: 350px !important;
        } 
    
}

.ask {
    background-color: #EB894C;
    height: 600px;
    color: #fff;
    margin-bottom: 50px;
    
}

.ask .txtm {
    padding-top: 40px;
}

.btn2 {
    width: 80%;
    height: 104px;
    border: 1px solid #D86C67;
    background-color: #D86C67;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.btn2:hover {
    background-color: #d84940;
}

.btn2 a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    display: block;
    height: 100%;
    line-height: 104px;
}


.ask .txtm {
    padding-top: 40px;
}

.ask-point {
    background-color: #F9F2F4;
    border-radius: 3px;
    color: #C7254E;
    width: 420px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}

.ask h2 {
    font-size: 21px;
    margin-top: 30px;
}

.sns {
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px; 
}

/*///////////
freedom
///////////*/

@media (max-width: 760px) {

    .txtbox {
        m-bottom: 100px;
    }

    .freedom-txt {
        padding-top: 30px !important;
    }
    .freedom-txt .txtm {
        font-size: 15px;
        width: 300px;
        margin: 0 auto ;
        letter-spacing: 1px;
        line-height: 2;
    }
}

.freedom {
    background-image: url(../introbottom.jpg);
    background-size: cover;
    height: 700px;
    position: relative;
}

.txtbox {
    width: 860px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.txtbox::before, .txtbox::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
}

.txtbox::before {
    border-top: 4px solid #EAB857;
    border-left: 4px solid #EAB857;
    top: 0;
    left: 0;
}

.txtbox::after {
    border-bottom: 4px solid #EAB857;
    border-right: 4px solid #EAB857;
    bottom: 0;
    right: 0;
}

.txtbox .txtl{
    padding: 30px 0 30px 0;
}

.underline {
    background: linear-gradient(transparent 70%, #EAB357 50%);
    font-weight: 600;
}

.about-btn {
    color: #fff;
    background-color: #EBB94D;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.about-btn p {
    line-height: 80px;
}


/*///////////
about
///////////*/

@media screen and (max-width: 760px) {

    .about {
        height: 500px;
    }

    .picture-box img {
        text-align: center;
        margin-bottom: ;
    }

   .about-box .flex {
       /* flex-direction: column; */
       margin: 0 auto ;
       
       
       /* height: 100px; */
    }

    .about .picture-box {
        flex-wrap: wrap;
    }

    .picture-box-none {
        display: none;
    }

   .about .about-box {
    margin: 30px;
    padding: 10px;
    padding-bottom: 0;
    border: 2px solid #EBB94C;
    border-radius: 3px;
    background-color: #fff;
    height: 200px;
    text-align: center;
   }
   .about .txtm {
       font-size: 14px;
       width: 300px;
       margin: 0 auto;
   }
}

.about {
    background: #FDF5E0;
    padding-top: 40px;
}

.about .txtm {
    font-weight: bold;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    justify-content: center;
}

.about-box {
    margin: 30px;
    padding: 20px;
    padding-bottom: 0;
    border: 2px solid #EBB94C;
    border-radius: 3px;
    background-color: #fff;
    height: 230px;
}

.picture-box {
    text-align: center;
    width: 155px;
    height: 155px;
}

.picture-box p {
    font-size: 12px;
    margin-top: 10px;
}

/*///////////
about-second
///////////*/

@media screen and (max-width: 760px) {

    .about-second {
        height: 900px !important;
    }
    .about-second h1{
        font-size: 16px;
        /* height: 800px; */
    }
    .about-second h2{
    font-size: 16px !important;
    line-height: 60px;
} 
    .none {
        display: none;
    }
 
    .about-second-flex {
        flex-direction: column;
        align-items: center;
        
    }
    .about-second-step {
        width: 80% !important;
        margin: 19px;
    }
}

.about-second {
    background-image: url(/aboutsecondbgsp.jpg);
    background-size: cover;
    height: 500px;
}

.about-second h1 {
    color: #fff;
    padding-top: 50px;
    font-weight: 100;
}

.about-second h2 {
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    line-height: 60px;
}

.about-second-txt {
    color: #EAB357;
}


.about-second-flex {
    display: flex;
    justify-content: center;
}

.about-second-step {
    width: 30%;
    background-color: #fff;
    height: 170px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 3px;
    padding: 30px 30px 20px ;
    box-sizing: border-box;
}

.about-second-txt2 {
    background-color: #EAB857;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 3px;
}

.about-second-txt3 {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}

.about-second-tx4 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.skillup {
    background-color: #106FA7;  
}

.skillup h2 {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}

/*///////////
learning
///////////*/

@media screen and (max-width: 760px) {
    .skillup h2 {
        font-size: 14px;
    }
    .learning .flex {
        flex-direction: column;
        align-items: center;
        margin-top:  10px !important;
    }
    .learning .flex img {
        margin-top:  15px !important;
    }
}

.learning {
    padding: 45px 0;
}

.learning-box {
    margin: 40px 0;
}

.learning-box img{
    margin-right: 15px;
    padding: 0 15px;
    
}

.bold {
    font-weight: bold;
}

/*///////////
footer
///////////*/

footer {
    background-color: #000;
    height: 100px;
    bottom: 0;
    text-align: center;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding-top: 38px;
}

/*///////////
merit
///////////*/


.merit {
    background-color: #FEF5E0;
    padding-top: 30px;
    height: 930px;
}

.merit > .txtbox, .textl {
    padding: 15px 0 ;
    margin-bottom: 41px;
}

.merit-box {
    width: 28%;
    margin: 0 10px;
}

.merit h2 {
    color: #EAB857;
    margin-bottom: 15px;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
}

.merit-box2 {
    text-align: center;
    margin: 30px;
    border: 2px solid #EAB857;
    border-radius: 3px;
    background-color: #fff;
    height: 280px;
}

.merit-box2 h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 30px 0 10px 0;
    text-align: center;
    color: #EAB857;
}

.merit-box2 h2 {
    text-align: center;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}

/*///////////
contact
///////////*/

@media screen and (max-width: 760px) {
    .contact input, textarea {
        width: 300px !important;
    }
}


.contact {
    background-color: #EBB94D;
    height: 600px;
    text-align: center;
}

.contact-title {
    font-size: 30px;
    font-weight: 600;
    padding-top: 80px;
}

.contact-subtitle {
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 20px;

}

form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 600px;
}

textarea {
    width: 100%;
    max-width: 600px;
    height: 6rem;
    padding-bottom: 10px;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

.contact-btn {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
    margin-top: 30px;

}

.contact-btn:hover {
    background: #0090aa;
}

/*///////////
location
///////////*/

iframe {
    width: 100%;
}

#location {
    display: flex;
    justify-content: space-between;
    
}

.location-info {
    width: 22%;
    text-align: left;
    list-style: none;
    margin: 0 auto;
    
}


.location-info p {
    padding: 12px 10px;
    /* text-align: center; */
}

.location-map {
    width: 74%;
}

.location-sub-title {
    text-align: left;
}

/*///////////
news
///////////*/

@media screen and (max-width: 760px) {
    .news {
        width: 300px !important;
    }
    .news h1 {
        text-align: center !important;
        padding: 30px 0 0 100px  !important;
        
    }
    .msr_newslist01 li p {
        display: table-cell;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 16px !important;
        letter-spacing: 1px;
      }
      /* カテゴリの設定 */
  .msr_newslist01 li .cat01,
  .msr_newslist01 li .cat02 {
    background-color: #1B73BA;
    border-radius: 1px;
    color: #FFFFFF;
    font-size: 9px;
    padding: 0 2px;
    text-align: center;
    width: 70px !important;
  }
}


.news {
    /* background-color: grey; */
}

.news h1 {
    padding-top: 60px;
    font-size: 45px;
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-color: red;
}

.news ul {
    list-style: none;
}

.msr_newslist01 {
    border-top: 1px solid #AAAAAA;
    width: 100%;
  }
  .msr_newslist01 li {
    border-bottom: 1px solid #AAAAAA;
    font-size: 14px;
    padding: 20px;
  }
  .msr_newslist01 li a {
    box-sizing: border-box;
    color: #000000;
    display: table;
    padding-top: 3px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    width: 100%;
  }
  .msr_newslist01 li a:hover {
    background: #EEEEEE;
    text-decoration: none;
  }
  .msr_newslist01 li div {
    display: table-cell;
    width: 144px;
  }
  .msr_newslist01 li p {
    display: table-cell;
    padding-left: 60px;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  /* 時間の設定 */
  .msr_newslist01 li time {
    display: table-cell;
    vertical-align: top;
    width: 90px;
  }
  
  /* カテゴリの設定 */
  .msr_newslist01 li .cat01,
  .msr_newslist01 li .cat02 {
    background-color: #1B73BA;
    border-radius: 1px;
    color: #FFFFFF;
    font-size: 9px;
    padding: 0 2px;
    text-align: center;
    width: 50px;
  }
  .msr_newslist01 li .cat02 {
    background-color: #0E3A5F;
  }
/*///////////
スマホ
///////////*/

@media (max-width: 768px) {

}

/* flex-direction: column; 

margin: 1rem auto;

ul {
    flex-wrap: wrap;
}

*/